semi: false
singleQuote: true
trailingComma: 'all'
printWidth: 80
tabWidth: 2
useTabs: false
quoteProps: 'preserve'
bracketSpacing: true
jsxBracketSameLine: false
arrowParens: 'avoid'
parser: 'babel'
endOfLine: 'lf'
